# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# temp files
*.bak

# bower
.bowerrc

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# runtime data
/runtime

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# archivos locales
db_local.php
